

@font-face {
	font-family: 'IcoMoon';
	src: url("/fonts/icons/icomoon.eot");
	src: url("/fonts/icons/icomoon.eot?#iefix") format("embedded-opentype"),
		url("/fonts/icons/icomoon.woff") format("woff"),
		url("/fonts/icons/icomoon.ttf") format("truetype"),
		url("/fonts/icons/icomoon.svg#IcoMoon") format("svg");
	font-weight: 400;
	font-style: normal
}

[data-icon]:before {
	font-family: 'IcoMoon';
	content: attr(data-icon);
	speak: none;
	font-weight: 400;
	-webkit-font-smoothing: antialiased
}

[class^="icon-"]:before,[class*=" icon-"]:before {
	font-family: 'IcoMoon' !important;
	font-style: normal;
	speak: none;
	font-weight: 400;
	-webkit-font-smoothing: antialiased
}

.icon-green:before {
	color: #35ac46
}

.icon-blue:before {
	color: #007ac2
}

.icon-purple:before {
	color: #762783
}

.icon-orange:before {
	color: #f89927
}

.icon-gray:before {
	color: #a6a6a6
}

.icon-large:before {
	font-size: 30px;
	line-height: 48px;
	vertical-align: -5px
}

.icon-star:before {
	content: "\3b"
}

.icon-github:before {
	content: "\21"
}

.icon-fork:before {
	content: "\52"
}

.icon-twitter:before {
	content: "\64"
}

.icon-email:before {
	content: "\38"
}

.icon-facebook:before {
	content: "\22"
}

.alert {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 2px 2px
		rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 2px 2px
		rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 2px 2px
		rgba(0, 0, 0, 0.1);
	margin-bottom: 1.5em;
	border-style: solid;
	border-width: .0625em;
	padding: -0.0625em;
	position: relative;
	text-align: center
}

.alert.success {
	background: #eff7e2;
	color: #4f8a10;
	border-color: #adca7e
}

.alert.secondary {
	background: #e6f2f8;
	color: #00529b;
	border-color: #9fc7db
}

.alert.warning {
	background: #d3bf70;
	color: #9f6000;
	border-color: #f9f1d5
}

.alert.error {
	background: #f8e1e1;
	color: #d8000c;
	border-color: #e4a5a5
}

.alert .close {
	opacity: .5;
	font-size: 24px;
	font-weight: 700;
	position: absolute;
	right: 14px;
	top: 50%;
	border-bottom: none
}

.alert .close:after {
	content: "×";
	width: 14px;
	height: 14px;
	display: block;
	margin-top: -15px
}

.alert .close:hover {
	opacity: .8;
	cursor: pointer;
	text-decoration: none
}

.alert a {
	color: inherit
}

.alert a:hover {
	opacity: .8;
	text-decoration: none
}

.alert p {
	padding-top: .75em;
	padding-bottom: .75em
}

.callout {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	padding: 0 .5em;
	width: 100%;
	float: none;
	margin: 0 auto;
	background: #f3f3ef;
	padding: .75em 1.5em;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px
}

.callout h3 {
	display: inline-block
}

.callout .btn {
	margin-top: 8px;
	float: right
}

.tooltip {
	position: relative;
	display: inline-block
}

.tooltip .tooltip-wrapper {
	position: absolute
}

.tooltip .tooltip-content {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	font-size: .8125em;
	line-height: 1.84615em;
	white-space: nowrap;
	background: #333333;
	display: none;
	position: relative;
	text-align: center;
	padding: 0 .5em;
	color: white;
	z-index: 99
}

.tooltip .tooltip-content:after {
	width: 0;
	height: 0;
	content: "";
	display: block;
	border-width: 5px;
	border-style: solid;
	border-color: #333333
}

.tooltip:hover .tooltip-content,.tooltip.show-tooltip .tooltip-content {
	display: block
}

.tooltip.above .tooltip-content,.tooltip.below .tooltip-content {
	left: -50%
}

.tooltip.above .tooltip-wrapper,.tooltip.below .tooltip-wrapper {
	left: 50%
}

.tooltip.above .tooltip-content:after {
	position: absolute;
	bottom: -5px;
	left: 50%;
	margin-left: -5px;
	border-bottom: none;
	border-left-color: transparent !important;
	border-right-color: transparent !important
}

.tooltip.above .tooltip-wrapper {
	bottom: 115%
}

.tooltip.below .tooltip-wrapper {
	top: 115%
}

.tooltip.below .tooltip-content:after {
	position: absolute;
	left: 50%;
	top: -5px;
	margin-left: -5px;
	border-left-color: transparent !important;
	border-right-color: transparent !important;
	border-top: none
}

.tooltip.before,.tooltip.after {
	float: none
}

.tooltip.before .tooltip-wrapper,.tooltip.after .tooltip-wrapper {
	top: 50%
}

.tooltip.before .tooltip-content,.tooltip.after .tooltip-content {
	margin-top: -1em
}

.tooltip.before .tooltip-wrapper {
	right: 115%
}

.tooltip.before .tooltip-content:after {
	position: absolute;
	right: -5px;
	top: 50%;
	margin-top: -5px;
	border-right: none;
	border-top-color: transparent !important;
	border-bottom-color: transparent !important
}

.tooltip.after .tooltip-wrapper {
	left: 115%
}

.tooltip.after .tooltip-content:after {
	position: absolute;
	left: -5px;
	top: 50%;
	margin-top: -5px;
	border-left: none;
	border-top-color: transparent !important;
	border-bottom-color: transparent !important
}

#esri-logo {
	display: block;
	width: 100px;
	height: 56px;
	text-indent: -9999em;
	background: transparent url(/images/logo-esri.png?1359658545) no-repeat 0 0;
	overflow: hidden;
	background-position: 0 -6px;
	float: left;
	margin-top: 3px
}

#browse-github {
	float: right;
	padding-top: .5em
}

#header {
	padding-top: 10px
}

.icon-green:before {
	color: #35ac46
}

.icon-blue:before {
	color: #007ac2
}

.icon-purple:before {
	color: #762783
}

.icon-orange:before {
	color: #f89927
}

.title-bar {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	padding: 0 .5em;
	width: 100%
}

.title-bar h1 {
	font-size: 2em;
	line-height: 1.5em;
	margin-top: 1.125em;
	margin-bottom: .375em;
	font-family: "Avenir LT W01 65 Medium", Arial, Helvetica, sans-serif
}

.title-bar a {
	color: white
}

.title-bar .btn {
	margin-top: 3em
}

.nav-bar {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	padding: 0 .5em;
	width: 100%
}

.nav-bar ul {
	margin: 0
}

.nav-bar ul:before,.nav-bar ul:after {
	content: " ";
	display: table
}

.nav-bar ul:after {
	clear: both
}

.nav-bar ul li {
	background: none;
	float: left;
	margin: 0 4.9em 0 0;
	padding: 0
}

.nav-bar ul li:last-child {
	margin: 0;
	float: right
}

.nav-bar ul li.current,.nav-bar ul li:hover {
	position: relative
}

.nav-bar ul li.current:after,.nav-bar ul li:hover:after {
	width: 0;
	height: 0;
	content: "";
	display: block;
	border-width: 7px;
	border-style: solid;
	border-color: white;
	border-left-color: transparent !important;
	border-right-color: transparent !important;
	border-top: none;
	position: absolute;
	left: 50%;
	bottom: 0;
	margin-left: -7px
}

.nav-bar ul li a {
	font-size: 1.07143em;
	line-height: 1.6em;
	color: white;
	display: block;
	padding-top: .8em;
	padding-bottom: .8em
}

#features-nav,#pricing-nav {
	background: url('/images/banner.jpg?1359658545')
}

#features-nav:before,#features-nav:after,#pricing-nav:before,#pricing-nav:after
	{
	content: " ";
	display: table
}

#features-nav:after,#pricing-nav:after {
	clear: both
}

#footer {
	background: #fff
}

#footer .container {
	padding-top: 1.5em;
	background: #fff
}

#footer nav {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	padding: 0 .5em;
	width: 25%;
	margin-top: 0
}

@media screen and (max-width:768px) {
	#footer nav {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		float: left;
		padding: 0 .5em;
		width: 50%
	}
}

@media screen and (max-width:480px) {
	#footer nav {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		float: left;
		padding: 0 .5em;
		width: 100%
	}
}

#footer nav.last {
	float: right !important
}

@media screen and (max-width:768px) {
	#footer nav.last {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		float: left;
		padding: 0 .5em;
		width: 100%
	}
}

#footer h4 {
	margin-bottom: .75em
}

#footer h4 span {
	font-weight: 700
}

#footer .footer-list li {
	padding-left: 1.25em
}

#footer .footer-list a {
	color: #595959
}

#footer .footer-list a:hover {
	color: #333333
}

#esri-logo-footer {
	background: transparent url(/images/esri-footer-social.jpg) no-repeat
		bottom right;
	width: 120px;
	height: 120px;
	text-indent: -9999px;
	margin: 0 auto 1em;
	display: block;
	border: 6px solid #eee;
}

#footer-social-nav {
	font-size: 1.5em;
	line-height: 2em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	padding: 0 .5em;
	width: 100%;
	padding: 0;
	margin: 0;
	text-align: center
}

#footer-social-nav li {
	background: none;
	padding: 0 .25em 0 0;
	display: inline
}

#footer-social-nav a {
	color: #a6a6a6
}

#footer-social-nav a:hover {
	color: gray
}

#footer-legal {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	padding: 0 .5em;
	width: 100%;
	margin-top: 0;
	padding-bottom: 0;
	clear: both
}

#footer-legal a {
	color: inherit
}